.super-mario{
    width: 150px;
    margin-left: 100px;
    position: absolute;
    z-index: 1;
    top: 80px;
}

.goomba{
    width: 150px;
    position: absolute;
    z-index: 2;
    top: 300px;
    margin-left: 115px;
}

.bowser{
    width: 400px;
    position: absolute;
    z-index: 3;
    margin-left: 900px;
}

.baloon{
    position: absolute;
    z-index: 4;
    margin-left: 600px;
    bottom: 730px;
}

.speach{
    position: absolute;
    z-index: 5;
    margin-left: 650px;
    top: 70px;
}